<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="img/pic3.png">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This was created by me and I'm the boss here</p>
        <img class="portrait" src="img/img.png">
    </div>

    {{>footer}}
</body>


</html>